<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howdev.manage.mapper.MgDecisionInfoMapper">
  <resultMap id="BaseResultMap" type="com.howdev.manage.entity.MgDecisionInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="decision_key" jdbcType="VARCHAR" property="decisionKey" />
    <result column="decision_type" jdbcType="VARCHAR" property="decisionType" />
    <result column="decision_name" jdbcType="VARCHAR" property="decisionName" />
    <result column="decision_desc" jdbcType="VARCHAR" property="decisionDesc" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="business_line" jdbcType="VARCHAR" property="businessLine" />
  </resultMap>
  <sql id="Base_Column_List">
    id, decision_key, decision_type, decision_name, decision_desc, version, `enable`, 
    create_time, update_time, creator, modifier, business_line
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mg_decision_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mg_decision_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.howdev.manage.entity.MgDecisionInfo" useGeneratedKeys="true">
    insert into mg_decision_info (decision_key, decision_type, decision_name, 
      decision_desc, version, `enable`, 
      create_time, update_time, creator, 
      modifier, business_line)
    values (#{decisionKey,jdbcType=VARCHAR}, #{decisionType,jdbcType=VARCHAR}, #{decisionName,jdbcType=VARCHAR}, 
      #{decisionDesc,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{enable,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{businessLine,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.howdev.manage.entity.MgDecisionInfo" useGeneratedKeys="true">
    insert into mg_decision_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="decisionKey != null">
        decision_key,
      </if>
      <if test="decisionType != null">
        decision_type,
      </if>
      <if test="decisionName != null">
        decision_name,
      </if>
      <if test="decisionDesc != null">
        decision_desc,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="businessLine != null">
        business_line,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="decisionKey != null">
        #{decisionKey,jdbcType=VARCHAR},
      </if>
      <if test="decisionType != null">
        #{decisionType,jdbcType=VARCHAR},
      </if>
      <if test="decisionName != null">
        #{decisionName,jdbcType=VARCHAR},
      </if>
      <if test="decisionDesc != null">
        #{decisionDesc,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="businessLine != null">
        #{businessLine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.howdev.manage.entity.MgDecisionInfo">
    update mg_decision_info
    <set>
      <if test="decisionKey != null">
        decision_key = #{decisionKey,jdbcType=VARCHAR},
      </if>
      <if test="decisionType != null">
        decision_type = #{decisionType,jdbcType=VARCHAR},
      </if>
      <if test="decisionName != null">
        decision_name = #{decisionName,jdbcType=VARCHAR},
      </if>
      <if test="decisionDesc != null">
        decision_desc = #{decisionDesc,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        `enable` = #{enable,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="businessLine != null">
        business_line = #{businessLine,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.howdev.manage.entity.MgDecisionInfo">
    update mg_decision_info
    set decision_key = #{decisionKey,jdbcType=VARCHAR},
      decision_type = #{decisionType,jdbcType=VARCHAR},
      decision_name = #{decisionName,jdbcType=VARCHAR},
      decision_desc = #{decisionDesc,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      `enable` = #{enable,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      business_line = #{businessLine,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>